<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--数据库连接串配置-->
  <DBConnectionProvider>
    <!--分片设置-->
    <Connection  LogicRegion="0|1|2|3|4|5|6|7" >
      <!--读数据库连接串(密文)-->
      <ReadString></ReadString>
      <!--写数据库连接串(密文)-->
      <WriteString></WriteString>

    </Connection>
  </DBConnectionProvider>
</configuration>