<?xml version="1.0" encoding="utf-8"?>

<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <variable name="logDirectory" value="Logs" />
    <targets>
        <target xsi:type="File" name="Default"
                fileName="${logDirectory}/${level}/${date:format=yyyyMMddHH}.txt"
                layout="${longdate} ${logger}: ${message}&#xD;&#xA;${exception:format=tostring}&#xD;&#xA;"
                maxArchiveFiles="1024"
                archiveAboveSize="8388608" />

        <target xsi:type="File" name="Custom"
                fileName="${logDirectory}/${event-properties:EventName}/${date:format=yyyyMMddHH}.txt"
               layout="${longdate} ${logger}: ${message}&#xD;&#xA;${exception:format=tostring}&#xD;&#xA;"
                maxArchiveFiles="1024"
                archiveAboveSize="8388608" />
    </targets>
    <rules>
        <logger name="Microsoft*" finalMinLevel="Warn" />
        <logger name="Microsoft.Hosting.Lifetime" finalMinLevel="Info" />
		<!--生产环境应该把minlevel设置为Info-->
        <logger name="*" minlevel="Trace" writeTo="default">
            <filters defaultAction='LogFinal'>
                <when condition="'${event-properties:item=EventId}'=='-65535'" action="Ignore" />
            </filters>
        </logger>
        <logger name="*" minlevel="Info" writeTo="Custom" />


    </rules>
</nlog>