<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="NLog" version="4.5.10" targetFramework="net472" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net45" />
</packages>