<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://192.168.0.248/UploadPackage.asmx" binding="basicHttpBinding"
                contract="nuget.UploadPackageSoap" name="UploadPackageSoap" />
        </client>
    </system.serviceModel>
</configuration>