<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="Logs"/>
  <targets>
    <target xsi:type="File" name="Default"
            fileName="${logDirectory}/${level}/${date:format=yyyyMMddHH}.txt"
            layout="${longdate} ${message}"
            archiveAboveSize="5000000" />

    <target xsi:type="File" name="Custom"
            fileName="${logDirectory}/${event-context:DirOrPrefix}/${date:format=yyyyMMddHH}.txt"
            layout="${longdate} ${message}"
            archiveAboveSize="5000000" />
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="Default"/>
    <logger name="*" level="Trace" writeTo="Default"/>
    <logger name="*" level="Debug" writeTo="Default"/>
    <logger name="*" level="Error" writeTo="Default"/>
    <logger name="*" level="Fatal" writeTo="Default"/>

    <logger name="LogCustom" level="Warn" writeTo="Custom" />
  </rules>
</nlog>
